@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: digital;
    src: url(./assets/fonts/digital-7.ttf) format("truetype");
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dark {
    background-color: #131313;
}
.head {
    position: absolute;
    top: 0;
    left: 0;
    height: 8vh;
    /* background-color: red; */
    width: 100%;

    span {
        position: absolute;
        right: 2rem;
        text-align: center;
        line-height: 8vh;
        cursor: pointer;
    }
}
.clock_bg {
    height: 30vh;
    width: 50vw;
    background-color: #131313;
    border: 10px solid #A2A2A2;
    border-radius: 10px;
}
h1 {
    text-align: center;
    line-height: 30vh;
    font-size: 75px;
    color: white;
    font-family: digital;
}